﻿@{
    ViewBag.Title = "Home Page";
}
<br/>
<script src="~/Scripts/spin.min.js"></script>
<script src="~/Scripts/ladda.min.js"></script>
<script src="~/Scripts/knockout-3.4.0.js"></script>
<script src="~/Scripts/App/main.js" > </script>

<div class="row">
    <form data-bind="submit: loadUrl" class="form-inline">
        Enter URL : <input class="form-control" data-bind="value: userURL" placeholder="" value="http://harry.radioapi.io/services/nowplaying/utv/fm104/onair"/>
        <button id="loadUrl" class="btn btn-default" role="button"  type="submit">Load URL</button>

    </form>
    <table class="table" data-bind="visible: playoutItems().length > 0">
        <thead>
        <tr>
            <td>Status</td>
            <td>Status Valid</td>
            <td>Image</td>
            <td>Image Valid</td>
            <td>Artist</td>
            <td>Duration</td>
            <td>Time</td>
            <td>Title</td>
            <td>Type</td>
        </tr>
        </thead>
        <tbody data-bind="foreach: playoutItems">
            <tr>
                <td data-bind="text: status, style: { color: isPlaying() ? 'red' : 'black' } " ></td>
                <td data-bind="text: isStatusValid" ></td>
                <td>
                    <img class="img-circle" style="width: 50px; height: 50px;" data-bind="attr: { src: imageUrl}, visible: imageValid" />
                </td>
                <td data-bind="text: imageValid" ></td>
                <td data-bind="text: artist" ></td>
                <td data-bind="text: duration" ></td>
                <td data-bind="text: time" ></td>
                <td data-bind="text: title" ></td>
                <td data-bind="text: type" ></td>
            </tr>
        </tbody>
    </table>
</div>

